.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 1);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.form {
  width: 940px;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: none;
  background-color: #ffffff;
  z-index: 2;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_title {
      color: #42474d;
      font-weight: 600;
      font-size: 26px;
      line-height: 31.2px;
      font-size: 18px;
    }

    &_close {
      border: none;
      width: 34px;
      color: #828d99;
      background-color: #ffffff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
  }

  &__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_search {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &_heading {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #42474d;
    }

    &_info {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      align-items: center;
      height: 44px;
    }
  }

  &__user {
    position: relative;
    width: 100%;

    &_img {
      position: absolute;
      width: 16px;
      height: 15.51px;
      left: 14px;
      top: 14.24px;
      z-index: 2;
    }
  }
&__container {
  height: 100%;
  width: 100%;
  position: relative;
}
  &__birth {
    background-color: #f2f4f7;
    border-radius: 16px;
    padding: 0 8px 0 14px;
    height: 100%;
    width: 100%;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #828d99;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      padding: 0 25px;
    }

    &_span {
      position: absolute;
      left: 14px;
      top: 14px;
      width: 14.48px;
      height: 16px;
    }
  }

  &__gender {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 14px;
    background-color: #f2f4f7;
    height: 100%;

    &_item {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      padding: 0 24px;
      border-radius: 14px;
      color: #42474d;
      cursor: pointer;

      & > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__name {
    width: 100%;
    height: 44px;
    border-radius: 16px;
    border: none;
    background-color: #f2f4f7;
    padding-left: 40px;
    color: #42474d;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #828d99;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__buttons {
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    &_button {
      height: 100%;
      width: 260px;
      border-radius: 16px;
      padding: 0 24px;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
    &_add {
      background-color: #4da2d6;
      color: #f2f4f7;
      &:hover {
        background-color: #4087b2;
      }
    }
    &_cancel {
      background-color: #f2f4f7;
      color: #42474d;
      &:hover {
        background-color: #e9edf5;
      }
    }
  }
}
.highlighted {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #42474d;
}

.list {
  border-radius: 16px;
  border: 0.6px solid #e9edf5;
  width: 100%;
  overflow-y: auto;
  max-height: 146px;
  margin-top: 10px;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_item {
      cursor: pointer;
      height: 34px;
      padding: 8px 14px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #a6acb3;

      &:first-child {
        border-radius: 16px 16px 0 0;
      }

      &:last-child {
        border-radius: 0 0 16px 16px;
      }
    }

    &_notfound {
      color: #42474d;
    }
    &_span {
      font-weight: 700;
      color: #42474d;
    }
  }

  &__add {
    background-color: #4da2d6;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    &_img {
      width: 16.17px;
      height: 16px;
    }

    &_text {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
    }
  }
}

.error {
  background-color: #FFE9E5;
}

.disabled {
  background-color: #F2F4F7;
  color: #42474d;

  &:hover {
    background-color: #F2F4F7;
  }
}